.main .sort-buttons {
  margin: 10px;
  font-size: 120%;
}

.post-box-button {
  height: 50px;
  font-size: 120%;
  margin: 5px;
}

.load-more {
  margin: 10px 0px 40px 0px;
}

.nothing-here {
  margin: 40px 0px 40px 0px;
}
