.article-card {
  background: var(--vanilla);
  width: 95%;
  margin: 15px;
  padding: 10px;
}

.article-card h2 {
  padding: 5px;
}

@media all and (min-width: 600px) {
  .article-card {
    width: 40%;
  }
}
