.comment-card {
  display: grid;
  grid-template-columns: 9em 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'userinfo body';
  margin: 20px;
  padding: 15px;
  background: var(--card-colour);
  border: 3px solid var(--header-colour);
  border-radius: 15px;
  box-shadow: 5px 5px var(--header-colour);
}

.comment-card .userinfo {
  grid-area: userinfo;
  padding: 5px;
  text-align: left;
}

.comment-card .body {
  grid-area: body;
  background-color: white;
  padding: 10px;
  text-align: left;
}

@media all and (max-width: 400px) {
  .comment-card {
    display: flex;
    flex-direction: column;
  }
}
