.comment-card {
  background: rosybrown;
  border: 1px solid orange;
  margin: 10px;
  display: grid;
  grid-template-columns: 9em 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: 'userinfo body';
  padding: 15px;
}

.comment-card .userinfo {
  grid-area: userinfo;
  padding: 5px;
  text-align: left;
}

.comment-card .body {
  grid-area: body;
  background-color: white;
  padding: 10px;
  text-align: left;
}

@media all and (max-width: 400px) {
  .comment-card {
    display: flex;
    flex-direction: column;
  }
}
