.comment-postbox,
.article-postbox {
  animation: dropdown 0.5s ease;
  padding: 10px;
}

.comment-postbox {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: 'body-label body .' '. submit .';
  border: 3px solid var(--header-colour);
  border-radius: 15px;
  box-shadow: 5px 5px var(--header-colour);
  background: rgba(1, 1, 1, 0.1);
  margin: 10px;
}

.comment-postbox button {
  grid-area: submit;
  width: 5em;
}

.comment-postbox .body-label {
  grid-area: body-label;
  text-align: right;
  padding: 5px;
}

.comment-postbox .body {
  grid-area: body;
}

.article-postbox {
  display: grid;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr;
  grid-template-areas: 'title-label title .' 'topic-label select .' 'body-label body .' '. submit .';
  border: 3px solid var(--header-colour);
  border-radius: 15px;
  box-shadow: 5px 5px var(--header-colour);
  background: rgba(1, 1, 1, 0.1);
  margin: 10px;
}

.article-postbox .title {
  grid-area: title;
}

.article-postbox .body {
  grid-area: body;
}

.article-postbox .title-label {
  grid-area: title-label;
  text-align: right;
  padding: 5px;
}

.article-postbox .topic-label {
  grid-area: topic-label;
  text-align: right;
  padding: 5px;
}

.article-postbox .body-label {
  grid-area: body-label;
  text-align: right;
  padding: 5px;
}

.article-postbox select {
  grid-area: select;
  width: 12em;
}
.article-postbox button {
  grid-area: submit;
  width: 5em;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.topic-postbox {
  width: 70%;
  display: grid;
  grid-template-rows: 1fr 1.5fr 1fr;
  grid-template-columns: 0.5fr 0.3fr 3fr 0.5fr;
  grid-template-areas: 'slug-label slug slug .' 'desc-label desc desc .' '. button . .';
  border: 3px solid var(--header-colour);
  border-radius: 15px;
  box-shadow: 5px 5px var(--header-colour);
  background: rgba(1, 1, 1, 0.1);
  padding: 10px;
  margin: 10px;
}

.topic-postbox .slug {
  grid-area: slug;
  width: 50%;
}

.topic-postbox .slug-label {
  grid-area: slug-label;
  text-align: right;
  padding: 5px;
}

.topic-postbox .desc {
  grid-area: desc;
}

.topic-postbox .desc-label {
  grid-area: desc-label;
  text-align: right;
  padding: 5px;
}

.topic-postbox button {
  grid-area: button;
}
