/* Mobile first - this is when Sidebar is small section of Nav with hidden items */

.sidebar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar img {
  height: 40px;
  width: auto;
  background: #fff;
  margin: 3px;
  border: 3px solid var(--header-colour);
  border-radius: 10px;
}

/* These styles are for wider screens where the sidebar appears fully */

@media all and (min-width: 1000px) {
  .sidebar {
    display: block;
    text-align: left;
    padding: 10px;
  }

  .sidebar img {
    display: block;
    height: 200px;
    width: 200px;
    margin: 10px 0px;
    border: 10px solid var(--header-colour);
    border-radius: 30px;
    background: #fff;
  }

  .sidebar .avatar {
    text-align: center;
  }

  .lg-screen-hide {
    font-weight: bold;
    font-size: 120%;
  }
}
