.topics {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.topics a {
  background: var(--card-colour);
  padding: 10px;
  margin: 10px;
  border: 3px solid var(--header-colour);
  border-radius: 15px;
  box-shadow: 5px 5px var(--header-colour);
  font-size: 180%;
}
