:root {
  --bg-colour: #ffffff;
  --border-colour: #ccc;
  --contrast-colour: rgb(180, 181, 245);
  --nav-colour: rgb(231, 231, 231);
  --main-colour: #fff;
  --footer-colour: rgb(231, 231, 231);
  --sidebar-colour: rgb(255, 239, 177);
  --menu-text-colour: black;
  --card-colour: rgb(248, 245, 232);
  --link-colour: black;
  --text-colour: #160f16;
  --voted-colour: rgb(132, 0, 255);
}

body {
  background: var(--bg-colour);
}

a {
  color: var(--link-colour);
}

a:hover {
  text-decoration: none;
}

img {
  height: 200px;
  width: 200px;
  border: 10px solid var(--border-colour);
  border-radius: 30px;
  background: #fff;
}

select,
input,
textarea {
  font-size: 110%;
  font-family: 'Montserrat', sans-serif;
}

.App {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-colour);
  text-align: center;
  display: grid;
  height: 98vh;
  grid-template-rows: 0.5fr 0.5fr 10fr 0.5fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'header header' 'userbar nav' 'main main' 'footer footer';
}

.header {
  background: var(--contrast-colour);
  color: var(--menu-text-colour);
  grid-area: header;
}

.nav {
  background: var(--nav-colour);
  color: var(--menu-text-colour);
  grid-area: nav;
}

.main {
  background: var(--main-colour);
  grid-area: main;
  overflow: auto;
  display: block;
}

.auth {
  grid-area: main;
  overflow: auto;
}

.sidebar {
  background: var(--nav-colour);
  grid-area: userbar;
}

.sidebar .lg-screen-hide {
  display: none;
}

.footer {
  background: var(--footer-colour);
  color: var(--menu-text-colour);
  grid-area: footer;
}

header,
nav,
footer {
  font-size: 100%;
}

@media all and (min-width: 1000px) {
  .App {
    grid-template-rows: 0.75fr 0.5fr 7.5fr 0.5fr;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: 'header header' 'nav nav' 'sidebar main' 'footer footer';
  }

  /* change sidebar position and reveal hidden items - other styling is in Sidebar.css */

  .sidebar {
    background: var(--sidebar-colour);
    grid-area: sidebar;
  }

  .sidebar .lg-screen-hide {
    display: block;
  }

  header,
  nav,
  footer {
    font-size: 120%;
  }
}
