:root {
  --bg-colour: #ffffff;
  --header-colour: #39599886;
  --nav-colour: #8366a6;
  --main-colour: #afbfda;
  --footer-colour: #8366a6;
  --sidebar-colour: #878cb6;
  --menu-text-colour: black;
  --card-colour: #fff;
  --link-colour: black;
  --text-colour: #140e14;
}

body {
  background: var(--bg-colour);
}

a {
  color: var(--link-colour);
}

a:hover {
  text-decoration: none;
}

.App {
  font-family: sans-serif;
  color: var(--text-colour);
  text-align: center;
  display: grid;
  height: 98vh;
  grid-template-rows: 1fr 0.5fr 7.5fr 0.5fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'header header' 'userbar nav' 'main main' 'footer footer';
}

.header {
  background: var(--header-colour);
  color: var(--menu-text-colour);
  grid-area: header;
}

.nav {
  background: var(--nav-colour);
  color: var(--menu-text-colour);
  grid-area: nav;
}

.main {
  background: var(--main-colour);
  grid-area: main;
  overflow: auto;
}

.auth {
  grid-area: main;
  overflow: auto;
}

.sidebar {
  background: var(--nav-colour);
  grid-area: userbar;
}

.sidebar .logout {
  height: 30px;
  width: 70px;
}

.sidebar img {
  height: 50px;
  width: auto;
  margin: auto;
}

.sidebar .lg-screen-hide {
  display: none;
}

.footer {
  background: var(--footer-colour);
  color: var(--menu-text-colour);

  grid-area: footer;
}

@media all and (min-width: 1000px) {
  .App {
    grid-template-rows: 1fr 0.5fr 7.5fr 0.5fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 'header header' 'nav nav' 'sidebar main' 'footer footer';
  }

  /* change sidebar position and reveal hidden items - other styling is in Sidebar.css */

  .sidebar {
    background: var(--sidebar-colour);
    grid-area: sidebar;
  }

  .sidebar .lg-screen-hide {
    display: block;
  }
}
