:root {
  --pistachio: #d9f1c9;
  --vanilla: #fff0af;
  --bg-colour: #ffffff;
  --header-colour: #f0d1d6;
  --nav-colour: #e9d1c4;
  --main-colour: var(--pistachio);
  --footer-colour: #f0d1d6;
  --menu-text-colour: black;
  --link-colour: black;
}

body {
  background: var(--bg-colour);
}

a {
  color: var(--link-colour);
}

a:hover {
  text-decoration: none;
}

.App {
  text-align: center;
  display: grid;
  height: 98vh;
  grid-template-rows: 1fr 0.5fr 7.5fr 0.5fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'header header' 'userbar nav' 'main main' 'footer footer';
}

.header {
  background: var(--header-colour);
  color: var(--menu-text-colour);
  grid-area: header;
}

.nav {
  background: var(--nav-colour);
  color: var(--menu-text-colour);
  grid-area: nav;
}

.main {
  background: var(--main-colour);
  grid-area: main;
  overflow: auto;
}

.auth {
  grid-area: main;
  overflow: auto;
}

.sidebar {
  grid-area: userbar;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar .logout {
  height: 30px;
  width: 70px;
}

.sidebar img {
  height: 50px;
  width: auto;
  margin: auto;
}

.sidebar .lg-screen-hide {
  display: none;
}

.footer {
  background: var(--footer-colour);
  color: var(--menu-text-colour);

  grid-area: footer;
}

@media all and (min-width: 1000px) {
  .App {
    grid-template-rows: 1fr 0.5fr 7.5fr 0.5fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'header header' 'nav nav' 'sidebar main' 'footer footer';
  }
  .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
  }

  .sidebar .lg-screen-hide {
    display: block;
  }
  .sidebar img {
    width: 200px;
    height: auto;
    margin: 0px;
  }
}
